<!DOCTYPE html>
<html lang="ru">
<head>
    <%-partial('../partials/head.ejs')%>
    <title><%=blocks.title%></title>
</head>
<body>
<header>
    <%-partial('../partials/header.ejs')%>
</header>
<main class="container">
    <%-body-%>
</main>

<%-partial('../partials/endBody.ejs')%>
</body>
</html>

